langchain==0.3.4
langchain-community==0.3.3
langchain_openai==0.2.1
langchain-google-genai==2.0.1
langchain-anthropic==0.2.3
gradio==5.4.0
google-cloud-aiplatform==1.70.0
langchain-google-vertexai==2.0.3
langgraph==0.2.52
langsmith==0.1.132
langchain_google_community==2.0.1
google-cloud-discoveryengine==0.13.1
llama-index==0.11.19
wikipedia==1.4.0
google-search-results==2.4.2
youtube-search==2.1.2
chromadb==0.5.15
langchain-chroma==0.1.4
datasets==3.1.0
pinecone==5.3.1
langchain_pinecone==0.2.0
sentence-transformers==3.2.1
langgraph-cli[inmem]==0.1.55
openai==1.57.0
pydantic==2.9.2
